<div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h3>เพิ่มเอกสาร</h3>
    </div>
    <div class="ibox-content">
      <%= render 'form' %>
    </div>
  </div>
</div>
