<div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h1 class="text-center"><i class="fa fa-plus-circle"></i> เพิ่มเอกสาร</h1 classs="text-center">
    </div>
    <div class="ibox-content">
      <%= render 'form' %>
    </div>
  </div>
</div>
