<div class="row">
  <!-- Document Management -->
  <div class="col-lg-4">
    <div class="widget navy-bg p-lg text-center">
      <div class="m-b-md">
        <i class="fa fa-folder-open-o fa-4x"></i>
        <h1 class="m-xs"><%= link_to 'จัดการเอกสาร' , documents_path %></h1>
      </div>
    </div>
  </div>
  <!-- Management News -->
  <div class="col-lg-4">
    <div class="widget navy-bg p-lg text-center">
      <div class="m-b-md">
        <i class="fa fa-newspaper-o fa-4x"></i>
        <h1 class="m-xs"><%= link_to 'จัดการข่าวสาร' , news_releases_path %></h1>
      </div>
    </div>
  </div>

  <!-- Management Jumbotronn -->
  <div class="col-lg-4">
    <div class="widget navy-bg p-lg text-center">
      <div class="m-b-md">
        <i class="fa fa-film fa-4x"></i>
        <h1 class="m-xs">จัดการ Banner</h1>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <!-- Gallery Management -->
  <div class="col-lg-4">
    <div class="widget navy-bg p-lg text-center">
      <div class="m-b-md">
        <i class="fa fa-film fa-4x"></i>
        <h1 class="m-xs">จัดการภาพกิจกรรม</h1>
      </div>
    </div>
  </div>
</div>
